# 1. What exactly is []?

'[]' This notation is  used for list operations. this is empty list
Used to store multiple item in single variable.
List values can be changed. values in list are assigned indexing.

In [1]:
a=[] 
print(type(a))

<class 'list'>

# 2. In a list of values stored in a variable called spam, 
# how would you assign the value &#39;hello&#39; as the
# third value? (Assume [2, 4, 6, 8, 10] are in spam.)
# Lets pretend the spam includes the list ['a','b','c','d']for the next three queries.

In [2]:
spam = [2,4,6,8,10]
print(spam)

[2, 4, 6, 8, 10]

In [3]:
spam[2] ="hello"

In [4]:
spam

[2, 4, 'hello', 8, 10]

# 3. What is the value of spam[int(int('3'* 2) / 11)]?

In [5]:
# let consider spam
spam =['a','b','c','d']
spam

['a', 'b', 'c', 'd']

spam[int(int('3'*2)/11)] # This is because 3 value is in string format when multiplied by 2 it becomes 
33 and the this 33 becomes integer before dividing by 11 and output is 3 which indicates indexing value
of spam at 3rd place is 'd' (indexing starts from zero)

# 4. What is the value of spam[-1]?

In [6]:
spam[-1] # reverse indexing  from back

'd'

# 5. What is the value of spam[:2]?

In [7]:
spam[:2] # It takes values at index 0 and 1 it exclude index value at 2

['a', 'b']

# Let's predent bacon has the list[3.14,'cat',11,'cat',True]
# 6. What is the value of bacon.index(&#39;cat&#39;)?

In [8]:
bacon =[3.14,'cat',11,'cat',True]

In [9]:
bacon.index('cat') # It is showing indexing position of 'cat' in bacon list and it is consider 1st assigned value for cat

1

# 7. How does bacon.append(99) change the look of the list value in bacon?

In [10]:
bacon =[3.14,'cat',11,'cat',True]
print(bacon)

[3.14, 'cat', 11, 'cat', True]

In [11]:
bacon.append(99) # it is appending  99 value at the last index of list bacon

In [12]:
bacon

[3.14, 'cat', 11, 'cat', True, 99]

# 8. How does bacon.remove('cat') change the look of the list in bacon?

In [13]:
bacon =[3.14,'cat',11,'cat',True]
print(bacon)

[3.14, 'cat', 11, 'cat', True]

In [14]:
bacon.remove('cat') # this function remove first occuring 'cat' string from 
#bacon list and keep next occuring 'cat' from list means it does not remove all 'cat' string from list

In [15]:
print(bacon)

[3.14, 11, 'cat', True]

# 9. What are the list concatenation and list replication operators?

List concatenation operator is '+'(plus) .It combine two or more list to form single list
and List replication operator is * (asterisk). It replicate list no of times we want and create single list

In [16]:
# List concatenation example
a =[1,"sush",True,4+5j]
b=[2,False,"parpolkar",5+10j]
concate =a+b # list concatenation operation
print(concate)

[1, 'sush', True, (4+5j), 2, False, 'parpolkar', (5+10j)]

In [17]:
# List replication example
c=[5,10,15,20]
replicate = c*4 # list replication operation
print(replicate)

[5, 10, 15, 20, 5, 10, 15, 20, 5, 10, 15, 20, 5, 10, 15, 20]

 # 10. What is difference between the list methods append() and insert()?

 List append() method                                                         List insert() method
1)list method append() used to add element at the last of the          insert()method used add element at specific index             string.                                                            position.
2)It takes single argument                                                It takes two argument i) index no to which element                                                                             should be added.
                                                                          ii) the value which is to be added.

In [18]:
a = [1,2,3,4,5]
a.append(10) # append method

In [19]:
print(a)

[1, 2, 3, 4, 5, 10]

In [20]:
a.insert(2,25)# insert method

In [21]:
a

[1, 2, 25, 3, 4, 5, 10]

# 11. What are the two methods for removing items from a list?

remove()and pop() method are used for removing items from a list
remove ()method used to remove first occurence of the element from list
It takes single argument.i.e the element which is to be removed.
while pop() method is used to remove element from index position and not 
the actual value. If the no index position is called while removing
it will remove last element from the list.

In [22]:
list = ["sush",2,True,False,5,4+10J]
list.remove(True) # remove method
print(list)

['sush', 2, False, 5, (4+10j)]

In [23]:
l =[10,20,30,40,50]
l.pop(3)# it removes element from index position 3  which is 40
print(l)

[10, 20, 30, 50]

In [24]:
l=["I",1000,20000,80]
l.pop() # if index position is not specified it will remove last element from list
print(l)

['I', 1000, 20000]

# 12. Describe how list values and string values are identical.

1) List and string both posssess some similarity . Both are sequences string values are written in
   single or double quotations.List can take any values such as string, float , number.
2)  Both list and string has position both can be accesed using indexing.
3) They can be sliced using slicing operation means a portion of element can be extracted.
4) Each element from string or list can be iterable using loops.

#  13.What is  the difference between tuples and lists?

tuples                                                                           list
1)tuples are immutable means                                    1) list are mutable means elemnts can
it cannot modified.                                              be added,modified or can be removed. 
2)tuples uses parenthesis() while denoting                       2) List operation performed in square brackets[]
3)tuples can performe method like index(),                        3) List can performe method such as append(),extend,pop,count
and count().                                                       insert().
4) if we don't want to modify data again                          4) if we want to modify data again and again we go for list
and again we can used tuples.                                      operation.

 # 14. How do you type a tuple value that only contains the integer 42?

In [25]:
tuple =(42)
print(type(tuple))
tuple=(42,) # comma after value is necessary to be consider it as tuple value otherwise it shows class integer
print(type(tuple))

<class 'int'>
<class 'tuple'>

# 15. How do you get a list values tuple form? How do you get a tuple values list form?

In [26]:

# Function to convert a list to a tuple
def convert_list_to_tuple(lst):
    tuple_result = ()  # Empty tuple to store the converted elements
    for i in lst:
        tuple_result += (i,)  # Append each element to the tuple
    return tuple_result
 
# Example usage
my_list = [1, 2, 3, 4]
my_tuple = convert_list_to_tuple(my_list)
print(my_tuple)

(1, 2, 3, 4)

In [27]:
# tuple to list
l1=("atish","kumar",1000,500)
my_list=[i for i in l1] # conversion of tuple to list
print(my_list)

['atish', 'kumar', 1000, 500]

# 16. Variables that "contain"list values are not necessarily lists themselves. Instead, what do they contain?

In [28]:
#variable containg list value contain references to the list values.
a =[3,4,5]
print(id(a))

1867466770112

# 17. How do you distinguish between copy.copy() and copy.deepcopy()?

 copy.copy :It creates shallow copy of object.It means that changes made to the original object 
reflected into the copied object and vice versa only if the elements are mutable. however object
is different from original one.It creates independent copies of same object. It helps to rectify changes
in original copy.

copy.deepcopy: It is deep copy of object. changes made in this copy doesnot affect original copy and vice versa.
It is useful to create independent object of complex object .