# 1. Create a list called years_list, starting with the year of your birth, and each year thereafter untilthe year of your fifth birthday. For example, if you were born in 1980. the list would be years_list =[1980, 1981, 1982, 1983, 1984, 1985].

In [1]:
year_list = [1996,1997,1998,1999,2000,2001]
year_list

[1996, 1997, 1998, 1999, 2000, 2001]

# 2. In which year in years_list was your third birthday? Remember, you were 0 years of age for your first year.

In [2]:
year_list[3] # third birthday

1999

# 3.In the years list, which year were you the oldest?

In [3]:
max(year_list)

2001

# 4. Make a list called things with these three strings as elements: &quot;mozzarella&quot;, &quot;cinderella&quot;, &quot;salmonella&quot;.

In [4]:
things = [ "mozzarella", "cinderella", "salmonella"]
things

['mozzarella', 'cinderella', 'salmonella']

# 5. Capitalize the element in things that refers to a person and then print the list. Did it change the element in the list?

In [5]:

for i in things:
    print(i.capitalize())
things # It did not change the element in the list

Mozzarella
Cinderella
Salmonella

['mozzarella', 'cinderella', 'salmonella']

# 6. Make a surprise list with the elements &quot;Groucho,&quot; &quot;Chico,&quot; and &quot;Harpo.&quot;

In [6]:
surprise_list = ["Groucho", "Chico", "Harpo"]
surprise_list

['Groucho', 'Chico', 'Harpo']

# 7. Lowercase the last element of the surprise list, reverse it, and then capitalize it.

In [7]:
surprise_list[-1].lower() # lowring element

'harpo'

In [8]:
surprise_list[-1][::-1]# reversing element

'opraH'

In [9]:
surprise_list[-1][::-1].upper()# captalizing element

'OPRAH'

# 8. Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is  chien, cat is chat, and walrus is morse.

In [10]:
e2f ={"dog": "chien",
    "cat": "chat" ,
    "walrus":"morse"    
}
e2f

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

# 9. Write the French word for walrus in your three-word dictionary e2f.

In [11]:
e2f["walrus"]

'morse'

# 10. Make a French-to-English dictionary called f2e from e2f. Use the items method.

In [12]:
f2e = dict((key,value) for key,value in e2f.items())
f2e

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

# 11. Print the English version of the French word chien using f2e.

In [13]:

for key,value in f2e.items():
    if value =='chien':
        print(key)

dog

# 12. Make and print a set of English words from the keys in e2f.

In [14]:
e2f.keys() # method 1

dict_keys(['dog', 'cat', 'walrus'])

In [15]:
for k,v in e2f.items(): # method 2
    print(k)

dog
cat
walrus

# 13. Make a multilevel dictionary called life. Use these strings for the topmost keys: &#39;animals&#39;, &#39;plants&#39;,and &#39;other&#39;. Make the &#39;animals&#39; key refer to another dictionary with the keys &#39;cats&#39;, &#39;octopi&#39;, and&#39;emus&#39;. Make the &#39;cats&#39; key refer to a list of strings with the values &#39;Henri&#39;, &#39;Grumpy&#39;, and &#39;Lucy&#39;.Make all the other keys refer to empty dictionaries.

In [16]:

life ={'animals':{'cat':['Henri', 'Grumpy', 'Lucy'], 'octopi':'', 'emus':''},
       'plants' :'',
       'other' :'' }
life

{'animals': {'cat': ['Henri', 'Grumpy', 'Lucy'], 'octopi': '', 'emus': ''},
 'plants': '',
 'other': ''}

# 14. Print the top-level keys of life.

In [17]:
life.keys()

dict_keys(['animals', 'plants', 'other'])

# 15. Print the keys for life[&#39;animals&#39;].

In [18]:
life['animals'].keys()

dict_keys(['cat', 'octopi', 'emus'])

# 16. Print the values for life[&#39;animals&#39;][&#39;cats&#39;]

In [19]:
life['animals']['cat']

['Henri', 'Grumpy', 'Lucy']