# 1. Set the variable test1 to the string &#39;This is a test of the emergency text system,&#39; and save test1 to a  file named test.txt.

In [1]:
test1 = 'This is a test of the emergency text system'

with open('test.txt', 'w') as file:
    file.write(test1)

In [2]:
! type text.txt  # reading content from file

The system cannot find the file specified.
Error occurred while processing: text.txt.
The system cannot find the file specified.
Error occurred while processing: #.
The system cannot find the file specified.
Error occurred while processing: reading.
The system cannot find the file specified.
Error occurred while processing: content.
The system cannot find the file specified.
Error occurred while processing: from.
The system cannot find the file specified.
Error occurred while processing: file.

# 2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [3]:
with open('text.txt','r')as file:
    test2 =file.read()
print(test2) # There is no difference between test1 and test2

FileNotFoundError: [Errno 2] No such file or directory: 'text.txt'

# 3. Create a CSV file called books.csv by using these lines:

title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

In [ ]:
import csv

In [4]:
data ='''title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992'''

In [5]:
with open('book.csv','w')as file:
    file.write(data)

# 4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [6]:
import sqlite3
con =sqlite3.connect("books.db")
print("database connected")

database connected

In [7]:
try:
    cur = con.cursor()
    cur.execute("CREATE TABLE books(title TEXT,author TEXT,year INTEGER)");
    print("Table Created !!!")
    con.commit()
   # con.close()
except Exception as e:
    print(e)

Table Created !!!

# 5. Read books.csv and insert its data into the book table.

In [8]:
import csv
import sqlite3

In [14]:
import sqlite3
import csv

# Establish a connection to the database
conn = sqlite3.connect('book.db')
cursor = conn.cursor()

# Create the book table if it doesn't exist
cursor.execute('''
    CREATE TABLE IF NOT EXISTS book (
        id INTEGER PRIMARY KEY,
        title TEXT,
        author TEXT,
        year INTEGER
    )
''')

# Open the CSV file and read its data
with open('book.csv', 'r') as file:
    reader = csv.reader(file)
    next(reader)  # Skip the header row

    # Iterate over each row and insert the data into the book table
    for row in reader:
        title, author, year = row

        # Insert the data into the book table
        cursor.execute('''
            INSERT INTO book (title, author, year)
            VALUES (?, ?, ?)
        ''', (title, author, year))

# Commit the changes to the database
conn.commit()

# Close the database connection
conn.close()
print("successfully inserted")

successfully inserted

# 6. Select and print the title column from the book table in alphabetical order.

In [18]:
import sqlite3
conn = sqlite3.connect('book.db')
cursor = conn.cursor()
cursor.execute("SELECT title From book order by title asc;")
for i in cursor.fetchall():
    print(i[0])
#conn.commit()
conn.close

Perdido Street Station
Perdido Street Station
Perdido Street Station
Perdido Street Station
Small Gods
Small Gods
Small Gods
Small Gods
The Spellman Files
The Spellman Files
The Spellman Files
The Spellman Files
The Weirdstone of Brisingamen
The Weirdstone of Brisingamen
The Weirdstone of Brisingamen
The Weirdstone of Brisingamen
Thud!
Thud!
Thud!
Thud!

# 7. From the book table, select and print all columns in the order of publication.

In [24]:
con = sqlite3.connect("book.db")  # connection has been created
print("database created ")

query = 'SELECT * FROM book order by year ;'
cur = con.cursor()
cur.execute(query)
for i in cur.fetchall():
    print(*i,sep=' , ')
                
con.close()

database created
1 , The Weirdstone of Brisingamen , Alan Garner , 1960
6 , The Weirdstone of Brisingamen , Alan Garner , 1960
11 , The Weirdstone of Brisingamen , Alan Garner , 1960
16 , The Weirdstone of Brisingamen , Alan Garner , 1960
5 , Small Gods , Terry Pratchett , 1992
10 , Small Gods , Terry Pratchett , 1992
15 , Small Gods , Terry Pratchett , 1992
20 , Small Gods , Terry Pratchett , 1992
2 , Perdido Street Station , China Miéville , 2000
7 , Perdido Street Station , China Miéville , 2000
12 , Perdido Street Station , China Miéville , 2000
17 , Perdido Street Station , China Miéville , 2000
3 , Thud! , Terry Pratchett , 2005
8 , Thud! , Terry Pratchett , 2005
13 , Thud! , Terry Pratchett , 2005
18 , Thud! , Terry Pratchett , 2005
4 , The Spellman Files , Lisa Lutz , 2007
9 , The Spellman Files , Lisa Lutz , 2007
14 , The Spellman Files , Lisa Lutz , 2007
19 , The Spellman Files , Lisa Lutz , 2007

# 8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [1]:
import sqlalchemy
conn= sqlalchemy.create_engine('sqlite:///books.db')
conn

Engine(sqlite:///books.db)

# 9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name (&#39;Fester Bestertester&#39;). Print all the fields for test.

In [2]:
! python -m pip install redis

Collecting redis
  Downloading redis-4.6.0-py3-none-any.whl (241 kB)
     ------------------------------------- 241.1/241.1 kB 52.0 kB/s eta 0:00:00
Requirement already satisfied: async-timeout>=4.0.2 in c:\users\sushant\anaconda3\lib\site-packages (from redis) (4.0.2)
Installing collected packages: redis
Successfully installed redis-4.6.0

In [ ]:
import redis
conn = redis.Redis()
conn.hset('test',{
    'count':1,
    'name':'Fester Bestertester'
})
conn.hgetall('test')

# 10. Increment the count field of test and print it.

In [ ]:
conn.hincrby('test', 'count', 1)
conn.hget('test', 'count')