Q1. In the below elements which of them are values or an expression? 
eg:- values can be integer or string and expressions will be mathematical operators.

 Ans :   This notation "*" is expression or multiplication operator. It is used to multiply .

"hello" this is string value.

-87.8 this is integer value

This notation - is expression. which is substraction operator.

This notation / is expression. It is used to divide. division operator

This notation + is  expression . It is used to addition. Addition operator

6 is integer value

Q2. What is the difference between string and variable?

string                                                    variable

string is a data type which is                        variable is used to store data.it is reserved meomery location
stored in variable.string is sequence of character     variable can store different data types.
letter and symbol.   


string is written within "" or ''                      we have to assign by this notation"=" to store data
  

strings typically immuntable means                     variable can be assigned new value during execustion
their content cannot be changed.
It is generally used to store text.


eg a = "Hello World"                                           b = 12

Q3 . Describe three different data types.

i) String : string datatype is a sequence of characters which can be text or numbers.
array of characters is typically used to denote a string data type.string is written within "" or ''quotes
string is used to print result in text format for more clearity about results.

In [1]:
# for example
a = "Hi folks"
print(a)

Hi folks

Integer : It is used to present whole numbers,positive,negative or zero.
this data type is used to perform several mathematical operations such as addition, substraction ,
multiplication and division.these integers are stored in variables which can be 
used later to perform mathematical operations.

In [2]:
#for example
x = 10
y =20

a = x+y
b = x-y
c = x*y
d = x/y

In [3]:
print(a)
print(b)
print(c)
print(d)

30
-10
200
0.5

Boolean : Boolean data type is used to represent a binary value, which can be either 'True' or 'False'
Boolean values are used in comparisons and logic operations.
boolen value  empty string is False
while booolen value of stored data is True

In [4]:
a = 10
b = 20

In [5]:
print(bool(a==b))

False

In [6]:
c = ""
d= "sushant"

In [7]:
print(bool(c))

False

In [8]:
print(bool(d))

True

4. What is an expression made up of? What do all expressions do?

An expression is combination of operands and operators that is used to produce value which is evaluated
. operands means on which operation is going to perform .
and operators means through which we perform various operations. some of the operators are +,-,*,/.There are various types of expression viz.
i) constant expression: This type of expression gives only constant value

In [9]:
# for example
x = 10+20
  
print(x)

30

5. This assignment statements, like spam = 10. What is the difference between an
expression and a statement?

statement is instruction to computer,it do things such as variable assignment for eg. spam = 10,
for i in range(12),in conditional branching. every expression is statement that can be used as
part of instrution to do something.


on the other hand expression is combination of operators and operands, It is used to produce some values
expression can be literal values '2', ' 5.0' or string "Hello" or mathematical operation such as 5+3,10/5
If we perfom operation on statment it becomes expression and its output in the form of print is statment

In [10]:
# for example
a = 10   # statment
b= a/30               # expression
print(b)             # statement

0.3333333333333333

6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

In [11]:
bacon = 22
bacon + 1
print(bacon)

22

The bacon variable unable to perform addition operation. This is because 
bacon +1 is not stored in bacon or we have not assigned another varible to bacon so it is showing 22
if we reassign the addition operation to bacon variable it will perform operation.

In [12]:
bacon = 22
bacon= bacon +1
print(bacon)

23

7. What should the values of the following two terms be?

In [13]:
'spam'+'spamspam'# These to strings are concatenating to form single string

'spamspamspam'

In [14]:
'spam'*3 # This operation is multiplying spam three times

'spamspamspam'

Both the above operation gives same result

8. Why is eggs a valid variable name while 100 is invalid?

According to python documentation, the rules of python 
1) The variable name must start with letter, or underscore then later you can
add number,underscore to it.
eggs is valid variable name because it starts with letter and consist only letter and underscore.
while 100 is invalid becuase it violets the first rule . python is unable to recognize number as variable.

In [16]:
egg =10
print(egg)

10

In [17]:
100 = 10
print(100)

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (3988106784.py, line 1)

9. What three functions can be used to get the integer, floating-point number, or string
version of a value?

int() is function used to integer value ,float() is function used for 
floating -point number and str()is function used for string version of a value

In [19]:
# for examples
e = int(input( ))
f= int(input( ))
print(e*f)

3
4
12

In [20]:





x = float(input( ))
y= float(input( ))
print(x/y)

10
2
5.0

In [21]:
x = "sushant "
y= "Parpolkar"
print(x+y)

sushant Parpolkar

10. Why does this expression cause an error? How can you fix it?

In [22]:
'I have eaten' + 99 + 'burritos'

TypeError: can only concatenate str (not "int") to str

This is showing because string value cannot concatenate with integer form .
All the input must be in same form this can 
be solved by putting the integer value 99 in string format "99".

In [23]:
'I have eaten' + ' 99 ' + 'burritos'

'I have eaten 99 burritos'